/* body {
    background: url(images/hero-bg-1.jpg);
    display: grid;
    place-items: center;
  }
  .modal {
    width: 90vw;
    background: white;
  padding: 4rem 0;
  border-radius: 2rem;
  box-shadow: lightcyan;
  text-align: center;
  max-width: 40rem;
  margin-top: 15rem;
  }
  .overlay {
    width: 90vw;
    background: white;
  padding: 4rem 0;
  border-radius: 2rem;
  box-shadow: lightcyan;
  text-align: center;
  max-width: 40rem;
  margin-top: 3rem;
  visibility: hidden;
  z-index: -10;
  }
  .btn {
    background: rgb(5, 157, 207);
    color: antiquewhite;
    width: 100px;
    height: 30px;
    border-radius: 0.3rem;
  }
  .open-modal {
    visibility: visible;
    z-index: 10;
  }
  .close-modal {
    visibility: visible;
    z-index: 10;
  } */



  /* html {
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    background: #F1f5f7;
  }
  .ques {
    text-align: center;
    color: goldenrod;
    margin-top: 5rem;
  }
  .first_ques {
    text-align: center;
    background: white;
    margin: 1rem 12rem;
    border-radius: 5px;
    box-shadow: #F1f5f7;
    padding: 1rem;
  }
  .sec_ques {
    text-align: center;
    background: white;
    margin: 1rem 12rem;
    border-radius: 5px;
    box-shadow: #F1f5f7;
    padding: 1rem;
  }
  .third_ques {
    text-align: center;
    background: white;
    margin: 1rem 12rem;
    border-radius: 5px;
    box-shadow: #F1f5f7;
    padding: 1rem;
  }
.question-title {
  display: flex;
  justify-content: space-between;
}
.question-text {
  display: flex;
  justify-content: space-between;
}
.qst_btn {
  height: fit-content;
  align-items: center;
  text-align: center;
  color: goldenrod;
  border-color: goldenrod;
  cursor: pointer;
  
}
.qst_btn:hover {
  color: lightskyblue;
  transform: rotate(90deg);
}

  .question-text {
    display: none;
  }
  .show-text .question-text {
    display: block;
  }
  .minus-icon {
    display: none;
  }
  .show-text .minus-icon {
    display: inline;
  }
  .show-text .plus-icon {
    display: none;
  } */


 /* html {
  background: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
 }
* {
font-size: 12px;
font-family: font-family: 'Kumbh Sans', sans-serif;
margin: 0;
box-sizing: border-box;
padding: 0;
}
body {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 90%;
height: 100vh;
margin: auto;
}
h1 {
  text-align: center;
  padding: 3rem;
  font-size: 20px;
 
}
.card {
  background: #f1f5f9;
 padding: 6rem;
 border-radius: 10px;
 width: 340px;
 }
 .illustration {
  margin-bottom: -15rem;
  z-index: ;
 }
 .illustration img:nth-of-type(1) {
  position: relative;
 }
 .illustration img:nth-of-type(1) {
  margin-top: -6rem;
 }


 .btn {
  border: none;
 }
 .question-title {
  display: flex;
  justify-content: space-between;
  
 }
 
 .answer {
  display: none;
 }
 .answer:hover {
  color: hsl(14, 88%, 65%);
 }
 p {
  font-size: 1em;
  padding: 0, 1.3em, 1em 0;
 }
 h2 {
  font-size: 1.3em;
  text-align: start;
  font-weight: 400;

 }
 .attribution {
  color: #f1f5f9;
 }
 .attribution a {
  color: hsl(14, 88%, 65%);
 }
 .show-text .answer {
  display: block;
 }
 .show-text .question-title {
  font-weight: 700;
  color: black;
 }
.show-text .arrow {
transform: rotate(180deg);
}
@media screen and(min-width: 992px) {
  body {
    min-height: 100vh;
    margin-top: 0;
  }
  .illustration {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card {
    display: none;
  }
} */

* {
  font-family: ;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
  /* background-repeat: no-repeat; */
}   
body {
  width: 90%;
  margin: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.card {
  background-color: #f1f5f9;
  padding: 9em 1em 2em;
  border-radius: 15px;
  width: 90%;
  width: 340px;
  list-style: none;
}
.illus {
  margin-bottom: -7em;
  z-index: 1;
}
.illus img:nth-of-type(1) { 
  position: relative;
}
.illus img:nth-of-type(2) { 
  margin-top: -5em;
}
h1 {
  text-align: center;
  margin-bottom: 1em;
  font-weight: 700;
}
button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  width: 100%;
  background: none;
  padding: 1em 0em;
  cursor: pointer;
}
li {
  list-style: none;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}
h2 {
  font-size: 1.2em;
  font-weight: 400;
  text-align: start;
  color: hsl(240, 6%, 50%);
}
p {
  font-size: 1.1em;
  padding: 0em 1em 1em 0em;
  color: hsl(237, 12%, 33%);
  line-height: 1.3em;
  display: none;
}
p:hover {
  color: hsl(14, 88%, 65%);
}
.attribution {
  color: white;
}
.attribution a {
  color: red;
}
.show-text p {
  display: block;
}
.show-text h2 {
  font-weight: 700;
  color: black;
}

.show-text .arrow {
transform: rotate(180deg);

}
.illus-desk {
  display: none;
}
@media screen and (min-width: 992px) {
  body {
    min-height: 100vh;
    margin-top: 0;
  }
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    width: 910px;
    height: 472px;

  }
  .illus {
    display: none;
  }
  ul {
    grid-column: 2/3;
    padding: 3em 4em 4em 3em;
  }
  .illus-desk {
    grid-column: 1/2;
    grid-row: 1/2;
    background: url(image/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 125%;
    background-position: -170px -100px;
    display: flex;
  }
  .img-1 {
    width: 425px;
    object-fit: contain;
    object-position: right;
    transform: translate(-50px, 50px);
    position: fixed;
  }
  .img-2 {
    transform: translate(-90px, 150px);
    position: fixed;
  }
  h1 {
text-align: start;
  }
}
